{% extends 'base.html' %}
{% load static %}
{% block body %}
<div class="wrapper">
    
    <!-- Note -->
    <div class="nNote nInformation hideit">
        <p><strong>INFORMATION: </strong>Top buttons area has 3 versions - 2 kinds of buttons and statistics. All of them could be viewed on <a href="ui_elements.html" title="">Interface elements page</a></p>
    </div>
    
    <!-- Chart -->
    <div class="widget chartWrapper">
        <div class="title"><img src="{% static 'images/icons/dark/stats.png' %}" alt="" class="titleIcon" /><h6>Chart</h6></div>
        <div class="body"><div class="chart"></div></div>
    </div>


</div>
{% endblock %}